{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-9">
                <h1>จัดการร้านค้า</h1>
                <br/><br/>
                <form class="form-inline" method="GET">
                    <div class="form-group">
                        <label for="search_product">ค้นหา:</label>
                        <input type="text" class="form-control ml-3" id="search_product" 
                            name="search_product" placeholder="ชื่อสินค้า" value="{{search_product}}">
                    </div>
                    <div class="form-group">
                        
                    </div>

                    <button type="submit" class="btn btn-info">ค้นหา</button>
                </form>
                <br>
                <br>
                <a class="btn btn-success" href="{% url 'add' %}">เพิ่มสินค้า</a>
                <a class="btn btn-success" href="{% url 'add_type' %}">เพิ่มประเภท</a>
                <a class="btn btn-success" href="{% url 'add' %}">ประเภทสินค้า</a>
                <br>
                <br>
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">ชื่อ</th>
                            <th scope="col">ประเภท</th>
                            <th scope="col">ราคา</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ds in pos %}
                        <tr>
                            <td>{{ ds.name }}</td>
                            <td>{{ ds.Type }}</td>
                            <td>{{ ds.price }}</td>
                            <td>
                                <a href="{% url 'product_edit' product_id=ds.id %}">
                                    <div class="" id="">แก้ไข</div>
                                </a>
                            </td>
                            <td>
                                <a href="{% url 'delete_product' product_id=ds.id %}">
                                    <div class="text-danger" id="">ลบ</div>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}

{% endblock %}